<h1>All Usuarios</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Papel</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% usuarios.forEach(usuario => { %>
            <tr>
                <td><%= usuario.id %></td>
                <td><%= usuario.nome %></td>
                <td><%= usuario.papel %></td>
                <td>
                    <a href="/usuarios/<%= usuario.id %>" class="btn btn-primary">View</a>
                    <a href="/usuarios/<%= usuario.id %>/edit" class="btn btn-warning">Edit</a>
                    <form action="/usuarios/<%= usuario.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
