<h1>All Carros</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>marca</th>
            <th>modelo</th>
            <th>placa</th>
        </tr>
    </thead>
    <tbody>
        <% carros.forEach(carro => { %>
            <tr>
                <td><%= carro.id %></td>
                <td><%= carro.marca %></td>
                <td><%= carro.modelo %></td>
                <td><%= carro.placa %></td>
                <td>
                    <a href="/carros/<%= carro.id %>" class="btn btn-primary">View</a>
                    <a href="/carros/<%= carro.id %>/edit" class="btn btn-warning">Edit</a>
                    <form action="/carros/<%= carro.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
